In [1]:
# Importing all the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [2]:
df = pd.read_csv('kindle_reviews.csv')
df.head()

,Unnamed: 0,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,B000F83SZQ,"[0, 0]",5,I enjoy vintage books and movies so I enjoyed ...,"05 5, 2014",A1F6404F1VG29J,Avidreader,Nice vintage story,1399248000
1,1,B000F83SZQ,"[2, 2]",4,This book is a reissue of an old one; the auth...,"01 6, 2014",AN0N05A9LIJEQ,critters,Different...,1388966400
2,2,B000F83SZQ,"[2, 2]",4,This was a fairly interesting read. It had ol...,"04 4, 2014",A795DMNCJILA6,dot,Oldie,1396569600
3,3,B000F83SZQ,"[1, 1]",5,I'd never read any of the Amy Brewster mysteri...,"02 19, 2014",A1FV0SX13TWVXQ,"Elaine H. Turley ""Montana Songbird""",I really liked it.,1392768000
4,4,B000F83SZQ,"[0, 1]",4,"If you like period pieces - clothing, lingo, y...","03 19, 2014",A3SPTOKDG7WBLN,Father Dowling Fan,Period Mystery,1395187200

In [3]:
# Sampling the dataset 
df.describe()

          Unnamed: 0        overall  unixReviewTime
count  982619.000000  982619.000000    9.826190e+05
mean   491309.000000       4.347801    1.378183e+09
std    283657.816418       0.955056    2.298476e+07
min         0.000000       1.000000    9.522144e+08
25%    245654.500000       4.000000    1.365206e+09
50%    491309.000000       5.000000    1.383523e+09
75%    736963.500000       5.000000    1.396051e+09
max    982618.000000       5.000000    1.406074e+09

In [4]:
unique_items_count = df['asin'].nunique()
print(unique_items_count)

61934

In [5]:
len(df)

982619

In [61]:
# Finding the reviewerID of those reviewers who have reviewed a book only once
grouped = df.groupby('reviewerName')
single_reviewers = []
count = 0
for group_name, group_df in grouped:
    if(len(group_df)==1):
        print(group_name)
        single_reviewers.append(group_name)
        
df = df[~df['reviewerName'].isin(single_reviewers)]

# These are the reviews we can delete from our dataset as these reviewers cannot reccommend anyone anything

In [15]:
null_counts = df.isnull().sum()
print(null_counts)
df = df.dropna(subset=['reviewText'])
# We can also delete those rows where the review text is

Unnamed: 0           0
asin                 0
helpful              0
overall              0
reviewText          22
reviewTime           0
reviewerID           0
reviewerName      3816
summary              1
unixReviewTime       0
dtype: int64

In [8]:
column_dtype = df['helpful'].dtype
print(column_dtype)

object

In [29]:
# We can remove those reviews who have a helpfulness rating of 0 and less than 20%
grouped_1 = df.groupby('helpful')
num_groups = grouped_1.ngroups
print(num_groups)
unique_values = df['helpful'].unique()
print(unique_values)

1494
['[0, 0]' '[2, 2]' '[1, 1]' ... '[23, 62]' '[116, 121]' '[56, 80]']

In [24]:
helpless_ratings = []
for i in range (1,len(unique_values)):
    a = int(unique_values[i][1])
    b = int(unique_values[i][4])
    if((a/b)<=0.2):
        helpless_ratings.append(unique_values[i])
print(*helpless_ratings)

ValueError: invalid literal for int() with base 10: ' '

In [50]:
#for i in range (1,len(unique_values)):
b = unique_values[2]
print(b)

[1, 1]

In [42]:
unique_values[9]

'[49, 57]'

In [60]:

unique_values_1 = df['helpful'].unique()
column_list = df['helpful'].tolist()
print((column_list[1]))

[2, 2]

In [78]:
import json
chk = eval(df[['helpful']].iloc[-1])

TypeError: eval() arg 1 must be a string, bytes or code object

In [86]:
json.loads(df.query("helpful=='[56, 80]'")['helpful'].values[0])[0]

56

In [88]:
df["helpful"] = df["helpful"].apply(lambda x:eval(x))

In [94]:
df["per_helpful"] = df["helpful"].apply(lambda x: x[0]/x[1]*100 if x[1]!=0 else 0)

In [101]:
chk_2 = df["per_helpful"]>50

In [104]:
chk_2.map({True:1, False:0}).sum()

359753